#question_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#question{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question_grid{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
}

.quiz_buttons{
  border: none;
  background-color: rgb(170, 64, 99);
  height: 100%;
  width: 100%;
  padding: 15% 2%;
  font-size: larger;
  font-weight: 600;
}