.answer_card{
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#next_button{
    padding: 0.6em 2em;
    border: none;
    color: black;
    background: #c31f66;
    border-radius: 10px;
    position: relative;
    bottom: 0;
}